.task_table {
  margin: 20px 10px;
  background-color: #5847eb;
  border-radius: 10px;
  padding: 32px;
}

.task_table_header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  margin: 20px 0;
}

.task_table_header div {
  width: 15%;
}

.row div {
  width: 15%;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.delete_button {
  display: flex;
  justify-content: center
}
