.task_table {
  margin: 20px 10px;
  background-color: #5847eb;
  border-radius: 10px;
  padding: 32px;
}

.task_table_header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  margin: 20px 0;
}

.task_table_header div {
  width: 15%;
}

.row div {
  width: 15%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.colon {
  position: absolute;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_icon {
  display: flex;
  justify-content: center;
}

.btn_icon button {
  padding: 0;
  cursor: pointer;
  background-color: #56c2e6;
  border: none;
  width: 30px;
  height: 30px;
}

.btn_icon img {
  width: 30px;
  height: 20px;
  padding-top: 3px;
}
