<div class="task_table">
  <h2>Tasks</h2>
  <div class="task_table_header">
    <div>№</div>
    <div>task name</div>
    <div>duration</div>
    <div>last update</div>
    <div>create date</div>
    <div></div>
  </div>

  <div *ngFor="let t of tasks; index as i">
    <div class="row">
      <div>{{ i + 1}}</div>
      <div>{{ t.task_name}}</div>
      <div>{{ t.time}}</div>
      <div>{{ t.create_date}}</div>
      <div>{{ t.update_date}}</div>
      <div class="delete_button">
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>
