/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #0f1424;
  color: #1c1f4a;
}

* {
  margin: 0;
}

.button {
  background-color: #56c2e6;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
}
