.dashboard {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.project_table {
  width: 90%;
  margin: 0 auto;
  background-color: #1c1f4a;
  border-radius: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

.table_header {
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
}

.table_header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.table_header div {
  width: 15%;
}

.table_header span {
  width: 5%;
}
