<div class="dashboard">
  <app-user-card></app-user-card>

  <div class="project_table">
    <div class="project_header">
      <h2>Projects</h2>
      <div class="addProject">
        <button class="button" (click)="openModal('add-project-modal')">new project</button>
      </div>
    </div>
    <div class="table_header">
      <span class="arrow_down"></span>
      <span class="arrow_down">№</span>
      <div>project name</div>
      <div>last update</div>
      <div>start date</div>
      <div>time</div>
    </div>

    <app-project
      *ngFor="let project of projects; index as i"
      [project]="project"
      (deleteProject)="onDeleteProject($event)"
      (editProject)="onEditProject($event)"
      (createTask)="onCreateTask($event)"
      [i]="i"
    ></app-project>

    <jw-modal id="add-project-modal">
      <h3 class="title">Create new project</h3>
      <button class="btn_close" (click)="closeModal('add-project-modal')">X</button>
      <div class="input_block">
        <label>Project name </label>
        <input
          class="input" type="text" placeholder="project name"
          [(ngModel)]="projectName">
      </div>
      <button class="button" (click)="onAddProject('add-project-modal')">Add project</button>
    </jw-modal>

  </div>
</div>
